@model IEnumerable<MVCMusicStore.Models.Album>

@{
    ViewBag.Title = "Albums";
}

<h2>@ViewBag.Title</h2>


<h3>Take a Look</h3>

@using (Html.BeginForm("Search", "StoreManager", FormMethod.Get)) { 
    <input type="text" name="q" />
    <input type="submit" value="Search" />
}
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title).ToString()
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artist.Name).ToString()
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre.Name).ToString()
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.AlbumArtUrl)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Artist.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.AlbumArtUrl)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AlbumID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AlbumID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AlbumID })
        </td>
    </tr>
}

</table>
